[core]
    editor = vim
    pager = less -R
[diff]
    tool = vimdiff
[difftool]
    trustExitCode = true
[merge]
    tool = vimdiff
[mergetool]
    trustExitCode = true
[alias]
    d = difftool -y
    s = status -s
    lf = log --format=fuller --no-color # Log full
    ls = log --format='%h | %an | %s' --no-color # Log short
    lt = log --format='%h | %ad | %an' --no-color --date=iso # Log time
[user]
    email =
    name = Fredrik Ås
